<h1 *ngIf="success; else input_form">Issue raised successfully!</h1>

<ng-template #input_form>
  <h1>
    Raise an issue
    <span *ngIf="!issueForm.valid" id="invalid">X</span>
    <span *ngIf="issueForm.valid" id="valid">✓</span>
  </h1>
  <form
    *ngIf="categories; else loading"
    #input_form
    [formGroup]="issueForm"
    (ngSubmit)="onSubmit()"
  >
    <label>
      Title:
      <input type="text" formControlName="title" required />
      <div *ngIf="submitted && issueForm.controls.title.errors" class="error">
        <div *ngIf="issueForm.controls.title.errors.required">
          Title is required!
        </div>
      </div>
    </label>

    <label>
      Description:
      <textarea formControlName="description" required></textarea>
      <div
        *ngIf="submitted && issueForm.controls.description.errors"
        class="error"
      >
        <div *ngIf="issueForm.controls.description.errors.required">
          Description is required!
        </div>
      </div>
    </label>

    <label>
      Email:
      <input type="text" formControlName="email" required />
      <div *ngIf="submitted && issueForm.controls.email.errors" class="error">
        <div *ngIf="issueForm.controls.email.errors.required">
          Email is required!
        </div>
        <div *ngIf="issueForm.controls.email.errors.email">
          Please enter a valid email!
        </div>
      </div>
    </label>

    <label class="radio-input">
      Category:
      <div *ngFor="let category of categories">
        <div class="radio-wrapper">
          <input
            type="radio"
            id="{{ category.id }}"
            formControlName="categoryId"
            value="{{ category.id }}"
          />
          <label for="{{ category.id }}">{{ category.name }}</label>
          <label class="tooltip">{{ category.description }}</label>
        </div>
      </div>

      <div
        *ngIf="submitted && issueForm.controls.categoryId.errors"
        class="error"
      >
        <div *ngIf="issueForm.controls.categoryId.errors.required">
          Category is required!
        </div>
      </div>
    </label>

    <input type="submit" value="Submit issue" class="submit" />
  </form>
</ng-template>

<ng-template #loading>
  <h2>Loading...</h2>
</ng-template>

<div *ngIf="success" class="results">
  <strong>Title:</strong>
  <span>{{ issueForm.controls.title.value }}</span>

  <strong>Description:</strong>
  <span>{{ issueForm.controls.description.value }}</span>

  <strong>Email:</strong>
  <span>{{ issueForm.controls.email.value }}</span>

  <strong>Category:</strong>
  <span>{{ getCategoryName(issueForm.controls.categoryId.value) }}</span>

  <div class="see-all">
    <a routerLink="/data">See all issues</a>
  </div>
</div>
