<h1 *ngIf="success; else input_form">Issue raised successfully!</h1>

<ng-template #input_form>
  <h1>Raise an issue</h1>

  <form
    *ngIf="categories; else loading"
    #input_form
    [formGroup]="messageForm"
    (ngSubmit)="onSubmit()"
  >
    <label>
      Title:
      <input type="text" formControlName="title" />
      <div *ngIf="submitted && messageForm.controls.title.errors" class="error">
        <div *ngIf="messageForm.controls.title.errors.required">
          Title is required!
        </div>
      </div>
    </label>

    <label>
      Description:
      <textarea formControlName="description"></textarea>
      <div
        *ngIf="submitted && messageForm.controls.description.errors"
        class="error"
      >
        <div *ngIf="messageForm.controls.description.errors.required">
          Description is required!
        </div>
      </div>
    </label>

    <label>
      Email:
      <input type="text" formControlName="email" />
      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
        <div *ngIf="messageForm.controls.email.errors.required">
          Email is required!
        </div>
      </div>
    </label>

    <label class="radio-input">
      Category:
      <div *ngFor="let category of categories">
        <div class="radio-wrapper">
          <input
            type="radio"
            id="{{ category.id }}"
            formControlName="categoryId"
            value="{{ category.id }}"
          />
          <label for="{{ category.id }}">{{ category.name }}</label>
          <label class="tooltip">{{ category.description }}</label>
        </div>
      </div>

      <div
        *ngIf="submitted && messageForm.controls.categoryId.errors"
        class="error"
      >
        <div *ngIf="messageForm.controls.categoryId.errors.required">
          Category is required!
        </div>
      </div>
    </label>

    <input type="submit" value="Submit issue" class="cta" />
  </form>
</ng-template>

<ng-template #loading>
  <h2>Loading...</h2>
</ng-template>

<div *ngIf="success" class="results">
  <strong>Title:</strong>
  <span>{{ messageForm.controls.title.value }}</span>

  <strong>Description:</strong>
  <span>{{ messageForm.controls.description.value }}</span>

  <strong>Email:</strong>
  <span>{{ messageForm.controls.email.value }}</span>

  <strong>Category:</strong>
  <span>{{ getCategoryName(messageForm.controls.categoryId.value) }}</span>

  <a routerLink="/data">See all issues</a>
</div>
