h1 {
  #valid {
    color: green;
  }

  #invalid {
    color: red;
  }
}

label {
  display: block;

  input,
  textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 16px -8px;
  }

  .error {
    margin-top: -20px;
    color: red;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
    border: 1px solid #ff0091;
  }

  .radio-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;

    input {
      width: 30px;
      margin: 10px;
      box-shadow: none;
    }

    .tooltip {
      display: none;
      position: absolute;
      color: white;
      background-color: #4a00ab;
      border: 1px solid black;
      padding: 10px;
      width: 400px;
      top: 100%;
      left: 50px;
      z-index: 9000;
    }

    &:hover {
      .tooltip {
        display: unset;
      }
    }
  }
}

.radio-input {
  margin-bottom: 15px;
}

.submit {
  background: #7700ff;
  border: none;
  color: white;

  text-transform: uppercase;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px -2px;

  &:hover {
    background-color: #4a00ab;
    cursor: pointer;
  }
}

.results {
  margin-top: 50px;

  strong {
    display: block;
  }
  span {
    margin-bottom: 20px;
    display: block;
  }
}

.see-all {
  padding-top: 20px;

  a {
    padding: 10px;
    background-color: #5c00d4;
    border: 1px solid black;
    color: white;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.76) 0px 0px 10px -2px;

    &:hover {
      background-color: #4a00ab;
      cursor: pointer;
    }
  }
}
