<div class="heading-wrapper">
  <h1>Current Issues</h1>
  <div>
    <a routerLink="/data">All</a>
    <a routerLink="/data" [queryParams]="{ filter: 'Could-have' }"
      >Could-Have</a
    >
    <a routerLink="/data" [queryParams]="{ filter: 'Should-have' }"
      >Should-Have</a
    >
    <a routerLink="/data" [queryParams]="{ filter: 'Must-have' }">Must-Have</a>
  </div>
</div>

<ul *ngIf="issues && categories; else loading">
  <li *ngFor="let issue of issues">
    <div class="close-button" (click)="deleteIssue(issue.id)">X</div>
    <h3 class="title">
      <a [routerLink]="['/data', issue.id]">{{ issue.title }}</a>
    </h3>
    <p class="email">Raised by: {{ issue.email }}</p>
    <p class="categoryId">
      {{ getCategoryName(issue.categoryId) }}
      <label class="tooltip">{{
        getCategoryDescription(issue.categoryId)
      }}</label>
    </p>
  </li>
</ul>

<ng-template #loading>
  <h2>Loading...</h2>
</ng-template>
